:root {
    --navigator-title-font: var(--md-sys-typescale-label-large);
    --navigator-item-font: var(--md-sys-typescale-body-large);

    --navigator-background: var(--md-sys-color-surface);
    --navigator-on-background: var(--md-sys-color-on-surface);
    --navigator-border: 1px solid var(--md-sys-color-outline);
    
    --navigator-item-background: var(--md-sys-color-surface);
    --navigator-item-on-background: var(--md-sys-color-on-surface);
    
    --navigator-item-background-hover: var(--md-sys-color-surface-variant);
    --navigator-item-on-background-hover: var(--md-sys-color-on-surface-variant);

    --navigator-item-background-active: var(--md-sys-color-primary-container);
    --navigator-item-on-background-active: var(--md-sys-color-on-primary-container);

    --navigator-item-background-active-hover: var(--md-sys-color-primary);
    --navigator-item-on-background-active-hover: var(--md-sys-color-on-primary);

    --navigator-item-border-radius: var(--md-sys-border-radius-2);

    --content-background: var(--md-sys-color-surface);
    --content-on-background: var(--md-sys-color-on-surface);

    --code-font: var(--md-sys-typescale-code-medium);
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    font: var(--md-sys-typescale-body-medium);
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font: var(--md-sys-typescale-headline-large);
}

h2 {
    font: var(--md-sys-typescale-headline-medium);
}

h3 {
    font: var(--md-sys-typescale-headline-small);
}

h4 {
    font: var(--md-sys-typescale-title-large);
}

h5 {
    font: var(--md-sys-typescale-title-medium);
}

h6 {
    font: var(--md-sys-typescale-title-small);
}

.layout-main {
    display: flex;
    align-items: stretch;
    height: 100%;
    box-sizing: border-box;
}
 
.layout-navigator {
    padding: 24px 16px;
    color: var(--navigator-on-background);
    background-color: var(--navigator-background);
    border-right: var(--navigator-border);
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
 
.layout-content {
    flex: 1;
    color: var(--content-on-background);
    background-color: var(--content-background);
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

/* CODE */
pre {
    background-color: #1E1E1E;   
}

pre > code {
    font: var(--code-font) !important;
}

/* MARKDOWN */
table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid lightgrey;
}

/*
tr:nth-child(even) {
    background: aqua;
}
*/

th {
    background: #FAFAFA;
    padding: 4px 8px;
    text-align: left;
    border: 1px solid lightgrey;
}

td {
    padding: 4px 8px;
    text-align: left;
    border: 1px solid lightgrey;
}

blockquote {
    background: #FAFAFA;
    border-left: 4px solid lightgrey;
    padding: 4px 8px 4px 16px;
}